{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Same favicon used on ringcentral.com, served directly from their asset host -->
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.ringcentral.com/content/dam/rc-www/en_us/images/favicon/ringcentral_2.0_icon_favicon.png">
  <link rel="shortcut icon" href="https://www.ringcentral.com/content/dam/rc-www/en_us/images/favicon/ringcentral_2.0_icon_favicon.ico">
{% endblock %}
